{% extends 'listpedidos.html' %}

{% block content %}
 
    <div id="content">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="/"><img src="{% for social in b %}
                          {{social.imagens}}
                      {% endfor %}" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone"> Seja bem vindo à {% for social in b %}  {{social.nome}}  {% endfor %} </li>
                                 <li class="button_user"><a class="button active" href="/">Continuar comprando {{cont}} Itens</a></li>

                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        <img src="static/images/menu_icon.png" alt="#">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
 






 






    
    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid ">
              
                 

<!-- Editable table -->
 
<div class="card ">
  <h2 > </h2>
  <h2> Carrinho</h2>

  <h3> Pedido: {{senha}} </h3>
  
      <table >
        <thead>

        </thead>
        <tbody>
         
          <tr>
            <td><span style="float:left;" ><h3>Produtos </h3></span></td>
            <!--<td><span style="float:left;" ><h3>Valor </span></h3></td>-->
            <td><span style="float:left;" ><h3>Quant. </span></h3></td>
           <!-- <td><span style="float:left;" ><h3>Valor </span></h3></td>-->
            
            </tr>


        {% for social in a %}
        
        <tr>
          <form method="POST" name="form" action="apagar">
            <td><span style="float:left;">  <h4>{{social.produtos}}</h4> </span></td>
           <!-- <td><span style="float:left;" ><h4>{{social.valor | currencyFormat }}</h4> </span></td>-->
            <td><span style="float:left;" ><h4>{{social.qtd}} <h4></span></td>
           <!-- <td><span style="float:left;" ><h4> {{social.sub_total | currencyFormat }}</h4></span></td><br> -->  
            <td><span class="table-remove">
              
                  <input type="hidden" value="{{social.id_venda}}" name="title">
                  <input type="submit" onclick="myFunction()"  class="btn btn-danger btn-rounded btn-sm my-0" value="X">
              </form> </td>  <br>      
          </tr>
        {% endfor %}

        {% if val %}
       
        
       <!--
        <tr>
          <td><span style="float:left;" > </span></td>
          <td><span style="float:left;" > </span></td>
          <td><span style="float:right;" ><h4> TOTAL : </h4></span></td>
          <td><span style="float:left;" > <h4> {{val | currencyFormat }}</h4></span></td>

          </tr>
        -->
          {% endif %}
        </tbody>
      </table>
      <h4>TOTAL A PAGAR {{val | currencyFormat }}</h4>
      
<!-- Editable table 
      <a href="https://api.whatsapp.com/send?phone=5591992566022&text=Ol%C3%A1!%20Seja%20bem-vindo%20(a)!" class="btn hero-btn">Enviar pedido</a>

hidden="hidden"
    -->
     

          <div class="card">
                  {% for social in b %}
                <textarea hidden="hidden" id="tel" name="tel" rows="4" cols="50">{{social.tel}}</textarea> <br>

                  {% endfor %}
                    <form name="form" action="/finalizar" method="GET" class="form-group">

                            <textarea hidden="hidden" id="pedido"  rows="4" cols="50">{{output}}</textarea> <br>
                            <label ><h4>Nome: </h4></label>
                            <textarea  id="nome"  rows="1" cols="50" placeholder="Digite seu nome.." required></textarea><br>
                            <label><h4>Pagamento:</h4></label>
                            <select id="pag">
                              <option value="Cartão">Cartão</option>
                              <option value="Dinheiro">Diheiro</option>
                              <option value="Pix">Pix</option>
                            </select><br>
                            <label ><h4>Endereço: </h4></label>
                            <textarea  id="ende" name="ende" rows="4" cols="50" placeholder="Digite o endereço para entrega.."required></textarea><br>
                            <!--<button class="btn btn-dark" href="/finalizar" onclick="enviarMensagem()">Finalizar pedido</button>-->
                  
                
                    <button class="btn btn-success btn-lg btn-block" onclick="enviarMensagem()" >Enviar whats</button>
                   
                  </form>

                  <label align="center"><h4>Após clicar em Finalizar pedido você será redirecionado para o whatsapp </h4></label>
                  <div class="col-md-12">
                   
                     
  
                </div>
          </div>


    </div>
  </div>




<!-- Editable table -->

        

                    
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_logo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                    </div>
                    <div class="col-md-12">
                        <div class="new">
                            <h3></h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </fooetr>
    <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->

    <script type="text/javascript">
      function enviarMensagem(){
       var texto;
       
       
       if (document.querySelector("#nome").value =="" )
       {

       }else if (document.querySelector("#ende").value ==""){
      
      }else{

         texto = "Cliente: "+document.querySelector("#nome").value  +"\n"+ document.querySelector("#pedido").value +"\n"+ "pagamengo: "+document.querySelector("#pag").value  +"\n"+"Endereço:"+  document.querySelector("#ende").value;
        texto = window.encodeURIComponent(texto);    
        window.open("https://api.whatsapp.com/send?phone=" + "55"+document.querySelector("#tel").value + "&text=" + texto, "_blank");
       }
        //Obs.. use "_system", no lugar de blank, caso você esteja usando Phonegap / Cordova / Ionic ou qualquer um baseado em webview;
      
      }

     

      
    </script>

  {% endblock %}