{% extends 'listpedidos.html' %}

{% block content %}
 
<!-- about -->
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
                <h2>Faça seu pedido</h2>
                <span> <form action="/filtrar" method="POST" enctype = "multipart/form-data" class="form-group">
                    <span ></span>
              
                          
                   
                  </form>


                </span>

                      
                    {% for social in a %}
                    
                          
                          <img src="{{social.imagens}}"  alt="Related Book 1" class="img-thumbnail" width="200" height="300">
                        
                          
                          <form name="form" action="/cadpedidos" method="POST" class="form-group">
                                      <input class="white" type="hidden" name="id" value={{social.ID}}>
                                      <input  type="hidden" name="produtos" value="{{social.Nome}}"><h3> {{social.Nome}}</h3>
                                      <h3>{{social.valor | currencyFormat}}</h3> <input class="form-control" id="valor"  type="hidden" name="valor" value="{{social.valor }}">
                                      <h3>{{social.desc}}</h3> <input class="form-control" type="hidden" name="desc">
                                    <button type="button" onclick="decrease()">-</button>  
                                    <input type="text" id="qtd" name="qtd" value="1" size="3" >
                                    <button type="button" onclick="increase()">+</button>
            

                                    <input type="hidden" name="subtotal" id="subtotal" value="">
                        
                                    <div>
                                    </div> 

                        <div>
                          <input class="btn btn-dark "  type="submit" onclick="myFunction()" value="Adicionar">
                        </div> 
                        </form>
                      </div>
               
                    {% endfor %}
               

                    
             </div>
          </div>
       </div>
    </div>
</div>
<!-- end about -->


    <!-- Javascript files-->


   
{% endblock %}