{% extends 'listpedidos.html' %}

{% block content %}

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="static/images/loading.gif" alt="" /></div>
    </div>

    <div class="wrapper">
    <!-- end loader -->

     <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="gerenciar">Gerenciar</a>
                    </li>
                    <li>
                      <a href="cad_categoria">Cadastrar Categoria</a>
                  </li>
                  <li>
                      <a href="cad_produto">Cadastrar produtos</a>
                  
                    <li>
                        <li>
                            <a href="cad_pedidos">Visualizar pedidos</a>
                        
                          <li>
                      <li>
                        <a href="/" target="_blank" >Loja</a>
                    
                      <li>
                      
                    </li>
                </ul>

            </nav>
        </div>

    <div id="content">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="gerenciar"><img src="{% for social in b %}
                          {{social.imagens}}
                      {% endfor %}" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone">Seja bem vindo à {% for social in b %}  {{social.nome}}  {% endfor %}</li>
                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        <img src="static/images/menu_icon.png" alt="#">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
 






 






    
    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid ">
                <div class="row">

                  
               <!-- Editable table -->

<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gerenciar loja</h3>
  <div class="card-body">
    <h3></h3>
   
    <h4> <a href="cad_categoria">Categoria</a></h4><br>
    <h4> <a href="cad_produto">Produtos</a></h4><br>
    <h4> <a href="cad_pedidos">Pedidos</a></h4><br>
    <h4> <a href="/" target="_blank" >Loja</a></h4><br>


    <h4> <a href="sair" >Sair</a></h4><br>
    </div>
  </div>
</div>
<!-- Editable table -->

{% endblock %}