{% extends 'listpedidos.html' %}

{% block content %}

 

    
    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid ">
                <div class="row">

                  
               <!-- Editable table -->

<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Login</h3>
  <div class="card-body">
    <h3></h3>
   
    <form action="login" method="post">
             
        <div class="container">
          <label for="uname"><b>Usuário</b></label>
          <input type="text" placeholder="Digite o usuário" name="username" required>
      <br>
          <label for="psw"><b>Senha</b></label>
          <input type="password" placeholder="Digite a senha" name="password" required>
      <br>
          <button type="submit">Login</button>
         
      </form>
    </div>
  </div>
</div>
<!-- Editable table -->

        
                 
                  
<!-- Editable table -->

        

                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_logo">
                        </div>
                    </div>
                    <div class="col-md-12">
                      
                    </div>
                    <div class="col-md-12">
                        <div class="new">
                            <h3></h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 todos os direitos reservaddor. Design by <a href="https://html.design/">IA</a></p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->
{% endblock %}